{% extends "base.html" %}
{% block title %}
Main
{% endblock %}
{% block body %}
<a href="javascript:void(0);" id="calculate" ></a> 
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1-rc2/jquery.js"></script>   

<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAO3EAgnxm_xkXlf8kccYlLdMYoo0-Vefs">
</script>
<div id="map-canvas"></div>
<script src="../static/index.js">
</script>
<script>
    

var targetlat = 40;
var targetlng = -70;
var mylat = 40;
var mylng = -70;

var init = function initialize() {

    if(navigator.geolocation) {
        browserSupportFlag = true;
        navigator.geolocation.getCurrentPosition(function(position) {
            initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
            mylat = position.coords.latitude;
            mylng = position.coords.longitude;

            
        }, function() {
            handleNoGeolocation(browserSupportFlag);
        });
    }
    else {
        browserSupportFlag = false;
        handleNoGeolocation(browserSupportFlag);
    }

    function handleNoGeolocation(errorFlag) {
        if (errorFlag == true) {
            alert("Geolocation service failed.");
        } else {
            alert("Your browser doesn't support geolocation. We've placed you in Siberia.");
        }
    }
}

var log = function log() {
    $.getJSON('/target', {
        mylat: mylat, 
        mylng: mylng
        }, function(data) {
          //$("#result").text(data.result);
          console.log(data.result);
        });
        return false;
}

function setTarget(lat,lng){
    targetlat = lat;
    targetlng= lng;
    init();
}

$('a#calculate').bind('click', log);


    
    
window.onLoad = init();
window.onLoad = log();



    </script>
THIS IS WHERE THE INSTRUCTIONS GO PLESA DO SOMETHING 

IMPORTANT:
after restarting, make sure all players are ready before activating /switch
{% endblock %}
