{% extends "base.html" %}
{% block title %}
Login/Register
{% endblock %}
{% block body %}

<form class="form-horizontal">
  <fieldset>
    <legend>Login</legend>
    <div class="form-group">
      <label class="col-lg-2 control-label">Username</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" name="username" placeholder="Username">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-md-8 col-md-offset-2">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-8 col-md-offset-2">
        <button class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>

<form class="form-horizontal" name="login" method="post">
  <fieldset>
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" name="login" value="login">
  </fieldset>
</form>

<form name="register" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password1" placeholder="Password">
  <input type="password" name="password2" placeholder="Password">
  <input type="submit" name="register" value="register">
</form>
{% endblock %}
